In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
%matplotlib inline

### read in the data

In [2]:
df = pd.read_stata("C:\Users\Ming\Downloads\Data\OriginalCodedStudies.dta")

In [5]:
print df.groupid1

0       2
1       2
2       1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      2
21      2
22      1
23      2
24      1
25      1
26      1
27      1
28      1
29      1
       ..
2171    4
2172    8
2173    3
2174    7
2175    1
2176    9
2177    2
2178    7
2179    5
2180    7
2181    7
2182    5
2183    9
2184    9
2185    3
2186    6
2187    2
2188    1
2189    1
2190    1
2191    1
2192    2
2193    1
2194    1
2195    1
2196    1
2197    1
2198    1
2199    1
2200    1
Name: groupid1, Length: 2201, dtype: int8